<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/assets/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <img src="../public/images/logo_medicina.png" width="35px" height="35px">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <h1 class="mt-2" style="text-align: center;">Anamnese Gestacional</h1>
    <div class="container mt-3">
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Fez Pré-Natal?" style="text-align: center;" aria-label="Fez Pré-Natal?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Fez Pré-Natal?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Fez Pré-Natal?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2">
            <div class="input-group-text">Período Gestacional</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername">
        </div>
        <div class="input-group mt-2 text-center">
            <div class="input-group-text">Nome do Médico</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername">
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Existe Possibilidade de Complicações?" style="text-align: center;" aria-label="Existe Possibilidade de Complicações?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Existe Possibilidade de Complicações?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Existe Possibilidade de Complicações?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="É o Primeiro Filho?" style="text-align: center;" aria-label="É o Primeiro Filho?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="É o Primeiro Filho?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="É o Primeiro Filho?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2 text-center">
            <div class="input-group-text">Quantos?</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername">
        </div>
        <div class="input-group mt-2 text-center">
            <div class="input-group-text">Que Horas Iniciaram as Contrações?</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername">
        </div>
        <span class="input-group-text mt-2" style="flex-direction: column;"> Tempo das Contrações</span>
        <div class="input-group mt-1">
            <span class="input-group-text">Duração</span>
            <input type="text" class="form-control">
            <span class="input-group-text">Intervalo</span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Pressão na Região do Quadril ou Vontade de Evacuar?" style="text-align: center;" aria-label="É o Primeiro Filho?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Sente Pressão na Região do Quadril ou Vontade de Evacuar?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="Sente Pressão na Região do Quadril ou Vontade de Evacuar?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Já Houve Ruptura da Bolsa?" style="text-align: center;" aria-label="Já Houve Ruptura da Bolsa?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Já Houve Ruptura da Bolsa?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="Já Houve Ruptura da Bolsa?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Foi Feito a Inspeção Visual?" style="text-align: center;" aria-label="Foi Feito a Inspeção Visual?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Foi Feito a Inspeção Visual?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="Foi Feito a Inspeção Visual?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Parto Realizado?" style="text-align: center;" aria-label="Parto Realizado?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="width: 20%; flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Parto Realizado?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Sim
                    </label>
                </div>                    
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="Parto Realizado?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Não
                    </label>
                </div>
            </span>
        </div>
        <div class="input-group mt-2 text-center">
            <div class="input-group-text">Hora do Nascimento</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername">
        </div>
        <div class="input-group mt-2">
            <input type="text" class="form-control" placeholder="Sexo do Bebê?" style="text-align: center;" aria-label="Sexo do Bebê?" aria-describedby="basic-addon2" disabled>
            <span class="input-group-text" id="basic-addon2" style="flex-direction: column;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Sexo do Bebê?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Feminino
                    </label>
                </div>                    
                <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" name="Sexo do Bebê?" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Masculino
                    </label>
                </div>
            </span>
        </div> 
        <div class="input-group mt-2 mb-5 text-center">
            <div class="input-group-text">Nome do Bebê?</div>
            <input type="text" class="form-control" id="specificSizeInputGroupUsername">
        </div>           
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>