<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/assets/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <img src="../public/images/logo_medicina.png" width="35px" height="35px">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/criar_ocorrencia_histórico">Criar
                                Ocorrência/Histórico</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/dados_paciente">Dados do Paciente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/dados_ocorrencia">Dados da Ocorrência</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/tipo_ocorrencia">Tipo de Ocorrência
                                (Pré-Hospitalar)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/problemas_suspeitos">Problemas Encontrados
                                Suspeitos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/sinais_sintomas">Sinais e Sintomas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/avaliacao_paciente">Avaliação do
                                Paciente(Glasgow)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/localizacao_traumas">Localização de Traumas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/forma_conducao">Forma Condução/Vítima Era/Objetos
                                Recolhidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/decisao_transporte">Decisão Transporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/sinais_vitais">Sinais Vitais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/procedimentos_efetuados">Procedimentos
                                Efetuados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/anamnese_emergencia_medica">Anamnese da Emergência
                                Médica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/anamnese_gestacional">Anamnese Gestacional</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/avaliacao_cinematica">Avaliação Cinemática</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/materiais_utilizados_descartaveis">Materiais
                                Ultilizados Descartável</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/materiais_utilizados_hospital">Materiais
                                Ultilizados Deixado no Hospital</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="localhost:3010/termo_recusa">Termo de Recusa de Atendimento e/ou
                                Transporte/Observações Importantes</a>
                        </li>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="cards">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mt-4">
                        <img src="../public/images/Maior5.jpg" class="card-img-top" alt="Maior de 5 anos">
                        <div class="card-body">
                            <h5 class="card-title text-center">Maior de 5 anos</h5>
                            <p class="card-text text-center">Para avaliar clique no botão abaixo.</p>
                            <a href="localhost:3010/avaliacao_pacienteMaior5" class="btn btn-primary" style="width: 100%;">Avaliar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mt-4">
                        <img src="../public/images/Menor5.jpg" class="card-img-top" alt="Menor de 5 anos">
                        <div class="card-body">
                            <h5 class="card-title text-center">Menor de 5 anos</h5>
                            <p class="card-text text-center">Para avaliar clique no botão abaixo.</p>
                            <a href="localhost:3010/avaliacao_pacienteMenor5" class="btn btn-primary" style="width: 100%;">Avaliar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg text-light mt-5 py-3">
        <div class="container-fluid text-center">
            <p class="mb-0" style="margin: 0;">Augusto e JP</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>