<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Clicável</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        #corpo-img {
            position: relative;
        }

        #areaClicavel {
            position: absolute;
            width: 200px;
            height: 200px;
            top: 150px; /* Ajuste conforme necessário */
            left: 100px; /* Ajuste conforme necessário */
            background-color: transparent;
            cursor: pointer;
        }
    </style>
</head>
<body>

<img id="corpo-img" src="../public/images/corpo-frontal.png" usemap="#corpo">
<map name="corpo">
    <area id="areaClicavel" shape="circle" coords="0,0,0,0"  alt="Cabeça" onclick="mudarCor()">
</map>

<script>
    function mudarCor() {
        document.getElementById('corpo-img').style.backgroundColor = 'red';
    }
</script>

</body>
</html>
