<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <img src="images/logo_medicina.png" width="35px" height="35px">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <h2 style="text-align: center;">Forma de Condução</h2>
        <div class="btn-group mb-3 mt-2" role="group" aria-label="Grupo de botões estilo checkbox circular">
            <input type="radio" class="btn-check" name="btnradio" id="Deitada" autocomplete="off">
            <label class="btn btn-outline-primary" for="Deitada">Deitada</label>
            <input type="radio" class="btn-check" name="btnradio" id="Semi-Sentada" autocomplete="off">
            <label class="btn btn-outline-primary" for="Semi-Sentada">Semi-Sentada</label>
            <input type="radio" class="btn-check" name="btnradio" id="Sentada" autocomplete="off">
            <label class="btn btn-outline-primary" for="Sentada">Sentada</label>
        </div>


    
        <h2 style="text-align: center;">Vítima Era</h2>
        <div class="btn-group mb-3 mt-2" role="group" aria-label="Grupo de botões estilo checkbox circular">
            <input type="radio" class="btn-check" name="btnradio1" id="Ciclista" autocomplete="off">
            <label class="btn btn-outline-primary" for="Ciclista">Ciclista</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Condutor" autocomplete="off">
            <label class="btn btn-outline-primary" for="Condutor">Condutor Moto</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Gestante" autocomplete="off">
            <label class="btn btn-outline-primary" for="Gestante">Gestante</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Pass.Ban.Frente" autocomplete="off">
            <label class="btn btn-outline-primary" for="Pass.Ban.Frente">Pass. Ban. Frente</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Pass. Moto" autocomplete="off">
            <label class="btn btn-outline-primary" for="Pass. Moto">Pass. Moto</label>
        </div>
        <div class="btn-group mb-3 mt-2" role="group" aria-label="Grupo de botões estilo checkbox circular">
            <input type="radio" class="btn-check" name="btnradio1" id="Ciclista" autocomplete="off">
            <label class="btn btn-outline-primary" for="Ciclista">Condutor Carro</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Condutor" autocomplete="off">
            <label class="btn btn-outline-primary" for="Condutor">Condutor Moto</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Gestante" autocomplete="off">
            <label class="btn btn-outline-primary" for="Gestante">Gestante</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Pass.Ban.Frente" autocomplete="off">
            <label class="btn btn-outline-primary" for="Pass.Ban.Frente">Pass. Ban. Frente</label>
            <input type="radio" class="btn-check" name="btnradio1" id="Pass. Moto" autocomplete="off">
            <label class="btn btn-outline-primary" for="Pass. Moto">Pass. Moto</label>
        </div>
        <h2 style="text-align: center;">Objetos Recolhidos</h2>
        <div class="input-group mb-3 mt-2">
            <textarea class="form-control" aria-label="Área de texto" style="resize: none;"></textarea>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>