<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuração do conjunto de caracteres -->
    <meta charset="UTF-8">
    <!-- Configuração para dimensionamento inicial -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título da página -->
    <title>Home</title>
    <!-- Ícone da página -->
    <link rel="icon" href="../public/images/logo.png">
    <!-- Estilos gerais -->
    <link rel="stylesheet" href="public/assets/all.css">
    <!-- Estilos do Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Barra de navegação -->
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Logo da medicina -->
            <img src="../public/images/logo_medicina.png" width="35px" height="35px">
        </div>
    </nav>

    <!-- Container principal -->
    <div class="container">
        <!-- Cards para criar ocorrência e ver histórico -->
        <div class="cards">
            <div class="row">
                <!-- Card para criar ocorrência -->
                <div class="col-md-6">
                    <div class="card mt-4">
                        <!-- Imagem relacionada à ocorrência -->
                        <img src="public/images/ocorrencia.jpg" class="card-img-top" alt="ocorrência">
                        <div class="card-body">
                            <!-- Título do card -->
                            <h5 class="card-title">Ocorrência</h5>
                            <!-- Descrição do card -->
                            <p class="card-text">Para criar uma ocorrência clique no botão abaixo.</p>
                            <!-- Botão para criar ocorrência -->
                            <a href="ocorrencia" class="btn btn-primary" style="width: 100%;">Criar ocorrência</a>
                        </div>
                    </div>
                </div>
                <!-- Card para ver histórico -->
                <div class="col-md-6">
                    <div class="card mt-4">
                        <!-- Imagem relacionada ao histórico -->
                        <img src="public/images/historico.jpg" class="card-img-top" alt="ocorrência">
                        <div class="card-body">
                            <!-- Título do card -->
                            <h5 class="card-title">Histórico</h5>
                            <!-- Descrição do card -->
                            <p class="card-text">Para verificar o histórico clique no no botão abaixo.</p>
                            <!-- Botão para ver histórico -->
                            <a href="historico" class="btn btn-primary" style="width: 100%;">Ver histórico</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Informações do usuário logado -->
        <div class="mt-5" style="text-align: center;">
            <!-- Ícone de usuário -->
            <img src="public/images/user.png" style="width: 2rem;">
            <!-- Nome do usuário logado -->
            <p style="margin: 0"><%= nomelogin %></p>
            <!-- Link para sair -->
            <a href="/logout">Sair</a>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="bg text-light mt-5 py-3">
        <div class="container-fluid text-center">
            <!-- Informações de autoria -->
            <p class="mb-0" style="margin: 0;">&copy; Augusto, Golerme, Bruski e JP. Todos direitos reservados.</p>
        </div>
    </footer>

    <!-- Scripts necessários do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
