<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas Encontrados Suspeitos</title>
    <link rel="icon" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/assets/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
          <img src="../public/images/logo_medicina.png" width="35px" height="35px">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/home">Criar Ocorrência/Histórico</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/dados_paciente">Dados do Paciente</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/dados_ocorrencia">Dados da Ocorrência</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/tipo_ocorrencia">Tipo de Ocorrência (Pré-Hospitalar)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/problemas_suspeitos">Problemas Encontrados Suspeitos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/sinais_sintomas">Sinais e Sintomas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/avaliacao_paciente">Avaliação do Paciente(Glasgow)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/localizacao_traumas">Localização de Traumas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/forma_conducao">Forma Condução/Vítima Era/Objetos Recolhidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/decisao_transporte">Decisão Transporte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/sinais_vitais">Sinais Vitais</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/procedimentos_efetuados">Procedimentos Efetuados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/anamnese_emergencia_medica">Anamnese da Emergência Médica</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/anamnese_gestacional">Anamnese Gestacional</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/avaliacao_cinematica">Avaliação Cinemática</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/materiais_utilizados_descartaveis">Materiais Ultilizados Descartável</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/materiais_utilizados_hospital">Materiais Ultilizados Deixado no Hospital</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localhost:3010/termo_recusa">Termo de Recusa de Atendimento e/ou Transporte/Observações Importantes</a>
                </li>
            </div>
          </div>
        </div>
      </nav>
    <h1 style="text-align: center;">Problemas Encontrados Suspeitos</h1>
    <div class="container mt-3">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Psiquiátrico" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ------------------------------------------------------------------------------------>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckRespiratorio" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Respiratório" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ----------------------------------------RESPIRATÓRIO----------------------------- -->
        <div class="respiratorio" style="display: none;">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="DPOC" style="text-align: center;" disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Inalação Fumaça"
                            style="text-align: center;" disabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDiabetes" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Diabetes" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ----------------------------------------DIABETES----------------------------- -->
        <div class="diabetes" style="display: none;">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Hiperglicemia" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Hipoglicimia" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckObstetrico" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Obstérico" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ----------------------------------------OBSTÉTRICO----------------------------- -->
        <div class="obstetrico" style="display: none;">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Parto emergencial"
                            style="text-align: center; " style="display: none;" aria-label="Nome do usuário"
                            aria-describedby="basic-addon2" disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Gestante" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
                <div class="input-group mb-3 ">
                    <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox"
                            value="" id="flexCheckDefault" style="padding: 5%;"></span>
                    <input type="text" class="form-control" placeholder="Hemor. excessiva" style="text-align: center; "
                        style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
                </div>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckTransporte" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Transporte" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ----------------------------------------TRANSPORTE----------------------------- -->
        <div class="transporte" style="display: none;">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Áereo" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Clínico" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Emergencial" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Pós-trauma" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Samu" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon2 "><input class="form-check-input"
                                type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Sem remoção" style="text-align: center; "
                            style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3" id="inputs-container">
                <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Outro Transporte" style="text-align: center;">
                </input>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------>
        <div class="input-group mb-3" id="divPai">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" style="text-align: center;" placeholder="Outro Problema"
                aria-describedby="basic-addon2">
            <button class="btn btn-primary" onclick="adicionarConjunto()">Adicionar</button>
        </div>
    </div>
    <div class="arrow mb-3">
        <div class="voltar">
            <a href="tipo_ocorrencia"><i class="bi bi-chevron-left"></i></a>
        </div>
    
        <div class="proximo">
            <a href="sinais_sintomas"><i class="bi bi-chevron-right"></i></a>
        </div>
    </div>
    
    <footer class="top-100 start-0 py-3" style="width: 100%; bottom: 0;">
        <div class="container-fluid text-center">
            <div class="p-1 text-light">&copy; Augusto, JP, Bruski e Guilherme. Todos direitos reservados.</div>
        </div>
    </footer>
    <script>
        // -----------------------------------TRANSPORTE----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxTransporte = document.getElementById('flexCheckTransporte');
            const conteudoTransporte = document.querySelector('.transporte');

            checkboxTransporte.addEventListener('change', function () {
                conteudoTransporte.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------OBSTETRICO----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxObstetrico = document.getElementById('flexCheckObstetrico');
            const conteudoObstetrico = document.querySelector('.obstetrico');

            checkboxObstetrico.addEventListener('change', function () {
                conteudoObstetrico.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------DIABETES----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxDiabetes = document.getElementById('flexCheckDiabetes');
            const conteudodiabetes = document.querySelector('.diabetes');

            checkboxDiabetes.addEventListener('change', function () {
                conteudodiabetes.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------RESPIRATORIO----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxRespiratorio = document.getElementById('flexCheckRespiratorio');
            const conteudoRespiratorio = document.querySelector('.respiratorio');

            checkboxRespiratorio.addEventListener('change', function () {
                conteudoRespiratorio.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------ADC INPUT----------------------------------
        function adicionarConjunto() {
            var divPai = document.getElementById('divPai');
            var novoInput = document.createElement('div');
            novoInput.classList.add('input-group', 'mt-3', 'conjunto');

            novoInput.innerHTML = `
                <span class="input-group-text" id="basic-addon2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;">
                </span>
                <input type="text" class="form-control" style="text-align: center;" placeholder="Outro Problema" aria-describedby="basic-addon2">
            `;

            divPai.appendChild(novoInput);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>