<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procedimentos Efetuados</title>
    <link rel="icon" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/assets/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
          <img src="../public/images/logo_medicina.png" width="35px" height="35px">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                
                <li class="nav-item">
                  <a class="nav-link" href="/">Criar Ocorrência/Histórico</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dados_paciente">Dados do Paciente</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dados_ocorrencia">Dados da Ocorrência</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="tipo_ocorrencia">Tipo de Ocorrência (Pré-Hospitalar)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="problemas_suspeitos">Problemas Encontrados Suspeitos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sinais_sintomas">Sinais e Sintomas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="avaliacao_paciente">Avaliação do Paciente(Glasgow)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localizacao_traumas">Localização de Traumas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="forma_conducao">Forma Condução/Vítima Era/Objetos Recolhidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="decisao_transporte">Decisão Transporte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sinais_vitais">Sinais Vitais</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="procedimentos_efetuados">Procedimentos Efetuados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="anamnese_emergencia_medica">Anamnese da Emergência Médica</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="anamnese_gestacional">Anamnese Gestacional</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="avaliacao_cinematica">Avaliação Cinemática</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="materiais_utilizados_descartaveis">Materiais Ultilizados Descartável</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="materiais_utilizados_hospital">Materiais Ultilizados Deixado no Hospital</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="termo_recusa">Termo de Recusa de Atendimento e/ou Transporte/Observações Importantes</a>
                </li>
            </div>
          </div>
        </div>
      </nav>
    <div class="navbar"></div><br>
    <h1 style="text-align: center;">Procedimentos Efetuados</h1><br>
    <div class="container">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Aspiração" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Avaliação inicial" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Avaliação dirigida" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Avaliação continuada" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Chave RAUTEK" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Canula de Guedel" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Desobstrução de V.A" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Emprego do D.E.A" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Gerenciamento de Riscos" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Limpeza de ferimento" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Curativos" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Compressivo" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Encravamento" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Ocular" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Queimadura" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Simples" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="3 pontas" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Imobilizações" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Membro INF .DIR" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Membro INF .ESQ" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Membro SUP .DIR" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Membro SUP .ESQ" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Quadril" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Cervical" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Maca sobre rodas" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Maca rígida" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Ponte" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Retirado capacete" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="R.C.P" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Rolamento 90º" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Rolamento 180º" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="TOMADA DECISÃO" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Tratado de choque" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Uso de cânula" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckColar" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Uso de Colar" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="TAM" style="display: none;">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2">TAM</span>
            <input type="text" class="form-control" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2">
        </div>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Uso de KED" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Uso de TTF" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Ventilação suporte" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Oxigênioterapia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
            <input type="text" class="form-control" style="text-align: center; " style="display: none;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2">
            <input type="text" class="form-control" placeholder="LPM" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Reanimador " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
            <input type="text" class="form-control" style="text-align: center; " style="display: none;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2">
            <input type="text" class="form-control" placeholder="LPM" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Meios auxiliares" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Celesc" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckPolicia" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Polícia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- -------------------COLOCAR DENTRO DO POLÍCIA COM SCRIPT-------------- -->
        <div class="policia" style="display: none;">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                                value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Civil" style="text-align: center;"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                                value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="Militar" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                                value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="P.R.E" style="text-align: center;"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                                value="" id="flexCheckDefault" style="padding: 5%;"></span>
                        <input type="text" class="form-control" placeholder="P.R.F" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="DÉF. Civil" style="text-align: center;" disabled>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="IGP/PC" style="text-align: center;" disabled>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckSamu" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Samu" style="text-align: center;" disabled>
        </div>
        <div style="display: none;" class="samu">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                            value="" id="flexCheckDefault" style="padding: 5%;"></span>
                    <input type="text" class="form-control" placeholder="USA" style="text-align: center;"
                        disabled>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                            value="" id="flexCheckDefault" style="padding: 5%;"></span>
                    <input type="text" class="form-control" placeholder="USB" style="text-align: center;"
                        disabled>
                </div>
            </div>
        </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="CIT" style="text-align: center;" disabled>
        </div>
        <div class="input-group mb-3" id="divPai">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" style="text-align: center;" placeholder="Outro"
                aria-describedby="basic-addon2">
            <button class="btn btn-primary" onclick="adicionarConjunto()">Adicionar</button>
        </div>
    </div>
   <!-- -------------------ARROW-------------- -->

   <div class="arrow mb-3">
    <div class="voltar">
        <a href="decisao_transporte"><i class="bi bi-chevron-left"></i></a>
    </div>

    <div class="proximo">
        <a href="anamnese_emergencia_medica"><i class="bi bi-chevron-right"></i></a>
    </div>
</div>

<footer class="top-100 start-0 py-3" style="width: 100%; bottom: 0;">
    <div class="container-fluid text-center">
        <div class="p-1 text-light">&copy; Augusto, JP, Bruski e Guilherme. Todos direitos reservados.</div>
    </div>
</footer>
    <script>
        // -----------------------------------POLICIA----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxPolicia = document.getElementById('flexCheckPolicia');
            const conteudoPolicia = document.querySelector('.policia');

            checkboxPolicia.addEventListener('change', function () {
                conteudoPolicia.style.display = this.checked ? 'block' : 'none';
            });
        });
         // -----------------------------------SAMU----------------------------------
         document.addEventListener('DOMContentLoaded', function () {
            const checkboxSamu = document.getElementById('flexCheckSamu');
            const conteudoSamu = document.querySelector('.samu');

            checkboxSamu.addEventListener('change', function () {
                conteudoSamu.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------TAM----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxSamu = document.getElementById('flexCheckColar');
            const conteudoSamu = document.querySelector('.TAM');

            checkboxSamu.addEventListener('change', function () {
                conteudoSamu.style.display = this.checked ? 'block' : 'none';
            });
        });

        // -----------------------------------ADC INPUT----------------------------------
        function adicionarConjunto() {
            var divPai = document.getElementById('divPai');
            var novoInput = document.createElement('div');
            novoInput.classList.add('input-group', 'mt-3', 'conjunto');

            novoInput.innerHTML = `
                <span class="input-group-text" id="basic-addon2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;">
                </span>
                <input type="text" class="form-control" style="text-align: center;" placeholder="Outro" aria-describedby="basic-addon2">
            `;

            divPai.appendChild(novoInput);
        }
    </script>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>