<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/sinais_sintomas.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
  <div class="navbar"></div>

  <h1>Sinais e Sintomas</h1>

  <div class="sinais_sintomas">
    <label for="ABDOMEN SENSÍVEL OU RIGIDO" class="sinsi">ABDOMEN SENSÍVEL OU RIGIDO</label>
    <input type="checkbox" class="checksinias">
  </div>

  <div class="sinais_sintomas">
    <label for="AFUNDAMENTO DE CRÂNIO" class="sinsi">ABDOMEN SENSÍVEL OU RIGIDO</label>
    <input type="checkbox" class="checksinias">
  </div>