<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinais e Sintomas</title>
    <link rel="icon" href="../public/images/logo.png">
    <link rel="stylesheet" href="../public/assets/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
          <img src="../public/images/logo_medicina.png" width="35px" height="35px">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="home">Criar Ocorrência/Histórico</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dados_paciente">Dados do Paciente</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="dados_ocorrencia">Dados da Ocorrência</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="tipo_ocorrencia">Tipo de Ocorrência (Pré-Hospitalar)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="problemas_suspeitos">Problemas Encontrados Suspeitos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sinais_sintomas">Sinais e Sintomas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="avaliacao_paciente">Avaliação do Paciente(Glasgow)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="localizacao_traumas">Localização de Traumas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="forma_conducao">Forma Condução/Vítima Era/Objetos Recolhidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="decisao_transporte">Decisão Transporte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="sinais_vitais">Sinais Vitais</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="procedimentos_efetuados">Procedimentos Efetuados</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="anamnese_emergencia_medica">Anamnese da Emergência Médica</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="anamnese_gestacional">Anamnese Gestacional</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="avaliacao_cinematica">Avaliação Cinemática</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="materiais_utilizados_descartaveis">Materiais Ultilizados Descartável</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="materiais_utilizados_hospital">Materiais Ultilizados Deixado no Hospital</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="termo_recusa">Termo de Recusa de Atendimento e/ou Transporte/Observações Importantes</a>
                </li>
            </div>
          </div>
        </div>
      </nav>
    <h1 style="text-align: center;">Sinais e sintomas</h1>
    <div class="container mt-3">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Abdomen sensível ou rígido" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Afundamento de cânio" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>

        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Agitação" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Amnésia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Angina de peito" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Apinéia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Bradicardia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Bradipnéia" style="text-align: center;"
                aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Bronco-aspirando" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Cefaleia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>

        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckCianose" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Cianose" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div style="display: none;" class="cianose">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Lábios" style="text-align: center;"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Extremidade" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group mb-3 ">
            <div class="input-group  ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Convulsão" style="text-align: center;"
                    aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Decorticação" style="text-align: center; "
                    style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Deformidade" style="text-align: center; "
                    style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group  ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Descerebração" style="text-align: center; "
                    style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group  ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Desmaio" style="text-align: center; "
                    style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group  ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Desvio de traquéia" style="text-align: center; "
                    style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>
        <div class="input-group mb-3 ">
            <div class="input-group  ">
                <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox"
                        value="" id="flexCheckDefault" style="padding: 5%;"></span>
                <input type="text" class="form-control" placeholder="Dispneia" style="text-align: center; "
                    style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

            </div>
        </div>


        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>

            <input type="text" class="form-control" placeholder="Dor local" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckEdema" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Edema" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- -------------------------------------------------------------------------------------------------------------------- -->
        <div style="display: none;" class="edema">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Generalizado" style="text-align: center;"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Localizado" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Estase de jugular" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Face pálida" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckHemo" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Hemorragia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div style="display: none;" class="hemorragia">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-group ">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Interna" style="text-align: center;"
                            disabled>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group ">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Externa" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Hipertensão" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>

        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Hipotensão " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Náuseas e vómitos " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Nasoragia " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Isocoria " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Óbito" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Otorréia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Otorragia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="O.V.A.C.E" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckParada" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Parada" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div style="display: none;" class="parada">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="input-group ">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Cardíaca" style="text-align: center;"
                            disabled>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group ">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Respíratoria" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Priaprismo" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Prurido na pele " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckPupila" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Pupilas" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <!-- ------------------------------------------------------------------------------------------------------------- -->
        <div style="display: none;" class="pupila">
            <div class="row ">
                <div class="col-md-6">
                    <div class="input-group ">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Anisocoria" style="text-align: center;"
                            disabled>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group ">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Miose" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mt-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Isocoria" style="text-align: center;"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Midriase" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mt-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Reagente" style="text-align: center;"
                            disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mt-3">
                        <span class="input-group-text"><input class="form-check-input" type="checkbox" value=""
                                id="flexCheckDefault"></span>
                        <input type="text" class="form-control" placeholder="Não reagente" style="text-align: center;"
                            disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mt-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Sudorese " style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mt-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Taquipneia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mt-3 ">
            <span class="input-group-text" id="basic-addon2"><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" placeholder="Taquicardia" style="text-align: center; "
                style="display: none;" aria-label="Nome do usuário" aria-describedby="basic-addon2" disabled>
        </div>
        <div class="input-group mt-3 mb-3" id="divPai">
            <span class="input-group-text" id="basic-addon2 "><input class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault" style="padding: 5%;"></span>
            <input type="text" class="form-control" style="text-align: center;" placeholder="Outro Problema"
                aria-describedby="basic-addon2">
            <button class="btn btn-primary" onclick="adicionarConjunto()">Adicionar</button>
        </div>
    </div>

    <!-- -------------------ARROW-------------- -->

    <div class="arrow mb-3">
        <div class="voltar">
            <a href="problemas_suspeitos"><i class="bi bi-chevron-left"></i></a>
        </div>

        <div class="proximo">
            <a href="avaliacao_paciente"><i class="bi bi-chevron-right"></i></a>
        </div>
    </div>

    <footer class="top-100 start-0 py-3" style="width: 100%; bottom: 0;">
        <div class="container-fluid text-center">
            <div class="p-1 text-light">&copy; Augusto, JP, Bruski e Guilherme. Todos direitos reservados.</div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // -----------------------------------Cianose----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxTransporte = document.getElementById('flexCheckCianose');
            const conteudoTransporte = document.querySelector('.cianose');

            checkboxTransporte.addEventListener('change', function () {
                conteudoTransporte.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------Edema----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxTransporte = document.getElementById('flexCheckEdema');
            const conteudoTransporte = document.querySelector('.edema');

            checkboxTransporte.addEventListener('change', function () {
                conteudoTransporte.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------Pupila----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxTransporte = document.getElementById('flexCheckPupila');
            const conteudoTransporte = document.querySelector('.pupila');

            checkboxTransporte.addEventListener('change', function () {
                conteudoTransporte.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------Hemorragia----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxTransporte = document.getElementById('flexCheckHemo');
            const conteudoTransporte = document.querySelector('.hemorragia');

            checkboxTransporte.addEventListener('change', function () {
                conteudoTransporte.style.display = this.checked ? 'block' : 'none';
            });
        });
        // -----------------------------------Parada----------------------------------
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxTransporte = document.getElementById('flexCheckParada');
            const conteudoTransporte = document.querySelector('.parada');

            checkboxTransporte.addEventListener('change', function () {
                conteudoTransporte.style.display = this.checked ? 'block' : 'none';
            });
        });

        // -----------------------------------ADC INPUT----------------------------------
        function adicionarConjunto() {
            var divPai = document.getElementById('divPai');
            var novoInput = document.createElement('div');
            novoInput.classList.add('input-group', 'mt-3', 'conjunto');

            novoInput.innerHTML = `
                <span class="input-group-text" id="basic-addon2">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" style="padding: 5%;">
                </span>
                <input type="text" class="form-control" style="text-align: center;" placeholder="Outro Problema" aria-describedby="basic-addon2">
            `;

            divPai.appendChild(novoInput);
        }
    </script>
    </script>
</body>

</html>