<script>
    function adicionarCampo() {
        var container = document.getElementById('inputs-container');
        var novoCampo = document.createElement('div');
        novoCampo.classList.add('input-container');
        novoCampo.innerHTML = '<input type="text" name="campo[]"><button class="remover-campo" onclick="removerCampo(this)">Remover</button>';
        container.appendChild(novoCampo);
    }

    function removerCampo(botao) {
        var container = document.getElementById('inputs-container');
        container.removeChild(botao.parentElement);
    }
</script>