<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/tipo_ocorrencia.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="navbar"></div>
    <h1>TIPO DE OCORRÊNCIA (PRÉ-HOSPITALAR)</h1>

<!-- -------------------INPUTS----------------- -->

    <div class="container_outro">
        <div class="div_outro">
            <label for="outro" style="width: 5rem;">OUTRO</label>
            <input type="text">
        </div>
    </div>
    
    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">AFOGAMENTO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">AGRESSÃO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">ATROPELAMENTO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">CAUSADO POR ANIMAIS</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">CHOQUE ELÉTRICO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">COM MEIO DE TRANSPORTE</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">DESABAMENTO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">    
        <div class="div_radios">
            <label for="name_ocorrencia">DESMORONAMENTO/<br>DESLIZAMENTO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">DOMÉSTICO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">EMERGÊNCIA MÉDICA</label>
            <input type="checkbox" class="check">
        </div>
    </div>
    
    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">ESPORTIVO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">INTOXICAÇÃO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">QUEDA BICICLETA</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">QUEDA DE ALTURA 2M</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">QUEDA MOTO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">QUEDA NÍVEL < 2M</label>
            <input type="checkbox" class="check">
        </div>
    </div>
    
    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">QUEDA PRÓPRIA ALTURA</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">TENTATIVA DE SUICÍDIO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">TRABALHO</label>
            <input type="checkbox" class="check">
        </div>
    </div>

    <div class="container_radios">
        <div class="div_radios">
            <label for="name_ocorrencia">TRANSFERÊNCIA</label>
            <input type="checkbox" class="check">
        </div>
    </div>

<!-- -------------------ARROW-------------- -->

    <div class="arrow">
        <div class="voltar">
          <a href="#"><i class="bi bi-chevron-left"></i></a>
        </div>
    
        <div class="proximo">
          <a href="#"><i class="bi bi-chevron-right"></i></a>
        </div>
      </div>
</body>
</html>