.navbar {
    background: rgb(40, 132, 150);
    background: linear-gradient(90deg, rgba(40, 132, 150, 1) 0%, rgba(28, 28, 128, 1) 50%, rgba(40, 132, 150, 1) 100%);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
