body {
    margin: 0;  
    height: 100%;
}
.container-fluid, nav,footer{
    background-color: #0d6efd;
    color: white;
}

.div-img {
    text-align: center;
    margin: 5px;
    margin-bottom: 30px;
}

/* ------------------INPUTS----------------- */


.form {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: max-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
}

.form input {
    margin: 10px;
    width: min-content;
}