body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    height: 50px;
    background: rgb(40,132,150);
background: linear-gradient(90deg, rgba(40,132,150,1) 0%, rgba(28,28,128,1) 50%, rgba(40,132,150,1) 100%);

}

.navbar img {
   max-width: 100%; 
   height: auto;
   margin-top: 150%;
}