body {
    margin: 0;
    background-color: rgba(185, 213, 237, 0.63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    height: 50px;
    background: rgb(40, 132, 150);
    background: linear-gradient(90deg, rgba(40, 132, 150, 1) 0%, rgba(28, 28, 128, 1) 50%, rgba(40, 132, 150, 1) 100%);
}

h1 {
    text-align: center;
}

/* -----------------------------INPUTS/LABEL---------------------- */



.div_problemas {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;    
    width: 100%;
    background-color: rgba(169, 170, 171, 0.726);
    margin-top: 1%;
}

label {
    display: block;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    width: 20rem;
    margin-right: 1rem;
    
  }
  
.check {
      width: 5%;
      height: 45%;
  }
  

  /* ----------SUBPROBLEMAS---------------- */

  .sub_resp {
    width: 100%;
    height: 5rem;
    background-color: rgba(169, 170, 171, 0.726);
  }

  .sub_dia {
    width: 100%;
    height: 3.5rem;
    background-color: rgba(169, 170, 171, 0.726);
  }

  .sub_obs {
    width: 100%;
    height: 5rem;
    background-color: rgba(169, 170, 171, 0.726);
  }
  



